<h1>Snippets</h1>

<div class="snippets">
  <% files = dropbox.ls %>
  <% if files.empty? %>
    No photos
  <% else %>
    <% dropbox.ls.each do |file| %>
      <%= file %>
    <% end %>
  <% end %>
</div>